.App {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content min-content auto;
  grid-template-areas: 
  'Title'
  'Nav'
  'Main';
}

img{
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

body {
  margin: 5;
  font-family: 'Questrial', sans-serif;
}

.Title{
  display: grid;
  align-items: center;
  grid-template-columns: 10fr 1fr;
  grid-template-areas: "title user";
  text-align: center;
  border: solid blue 1px;
}

.Nav{
  text-align: center;
  border: solid purple 1px;
  grid-area: Nav;
  display: flex;
  justify-content: space-evenly;
}

.Home{
  border: solid rgb(0, 153, 255) 1px;
  grid-area: Main;
}

.ArticleCard{
  box-shadow: darkgray 10px 5px 10px;
  padding: 10px;
  margin: 10px;
  display: grid;
  grid-template-rows: 1fr, min-content, 1fr, 1fr;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-areas:
   "topic" 
   "title" 
   "user" 
   "info";
  /* border: solid red 1px; */
}

.ArticleCardTopic{
  margin: 1px;
  grid-area: topic;
}
.ArticleCardTitle{
  grid-area: title;
}

.ArticleCardInfo{
  display: flex;
  align-items: center;
  justify-content: space-around;
  grid-area: info;
}

.ArticleList{
  padding: 0;
}

.CommentList{
  padding: 15px;
}

.Controls{
  border: solid green 1px;
}

.SingleArticle{
  padding: 10px;
  border: solid coral 1px;
}
.Comments{
  border: solid lime 1px
}
.CommentCard{
  padding: 10px;
  border: solid pink 1px;
  box-shadow: darkgray 10px 5px 10px;
}

.PostComment{
  padding: 10px;
  border: solid turquoise 1px;
}

.CreatePost{
  border: solid darkblue 1px;
}

.UserTitle{
  border: solid darkcyan 1px;
}

.EditUser{
  border: solid darkmagenta 1px;
}

.CreateUser{
  border: solid darkorange 1px;
}

.UserAndAvatar{
  font: bold;
  border: solid seagreen 1px;
  display: flex;
  align-items: flex-start;
}

.Icon{
  width:25px;
  height:25px;
}