.App {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content min-content auto;
  grid-template-areas: 
  'Title'
  'Nav'
  'Main';
}

body {
  margin: 5;
  font-family: 'Questrial', sans-serif;
}

.Title{
  text-align: center;
  border: solid blue 1px;
  grid-area: Title;
}

.Nav{
  text-align: center;
  border: solid purple 1px;
  grid-area: Nav;
  display: flex;
  justify-content: space-evenly;
}

.Home{
  border: solid rgb(0, 153, 255) 1px;
  grid-area: Main;
}

.ArticleCard{
  border: solid red 1px;
}

.ArticleList{
  padding: 0;
}

.CommentList{
  padding: 0;
}

.controls{
  border: solid green 1px;
}

.SingleArticle{
  border: solid coral 1px;
}

.CommentCard{
  border: solid pink 1px;
}